<header class="header">
    <div class="container header-container">
        <a href="./index.html" class="logo"><img src="./img/logo.svg" alt="logo" class="logo-img" /></a>
        <nav class="navigation">
            <ul class="navigation-list">
                <li><a href="" class="navigation-link">Affiliates </a></li>
                <li><a href="" class="navigation-link">Advertisers</a></li>
                <li><a href="" class="navigation-link">Events</a></li>
                <li><a href="" class="navigation-link"> Blog</a></li>
            </ul>
        </nav>
        <button type="button" class="header-btn">sign Up</button>
        <button type="button" class="menu-open-btn">
            <svg class="menu-open-icon" width="28" height="20">
                <use href="./img/icons.svg#icon-open-menu"></use>
            </svg>
        </button>
    </div>
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-wrap">
                <a href="./index.html" class="mobile-logo"><img src="./img/logo.svg" alt="logo"
                        class="mobile-logo-img" /></a>
                <button class="mobile-close-btn">
                    <svg class="mobile-close-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-cross"></use>
                    </svg>
                </button>
            </div>
            <ul class="mobile-nav-list">
                <li><a href="" class="mobile-link">Affiliates
                    </a></li>
                <li><a href="" class="mobile-link">Advertisers</a></li>
                <li><a href="" class="mobile-link">Events</a></li>
                <li><a href="" class="mobile-link">Blog</a></li>
            </ul>
            <button type="button" class="mobile-send-btn">sign Up</button>
        </div>
    </div>
</header>